.clearfix {
	*zoom: 1;
}
.clearfix:before,
.clearfix:after {
	display: table;
	line-height: 0;
	content: "";
}
.clearfix:after {
	clear: both;
}
body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	background: rgba(51,51,51,1) url('img/darknoise.png');
}
a {
	color: #0088cc;
	text-decoration: none;
}
a:hover {
	color: #005580;
	text-decoration: underline;
}
.wrapper {
	background: #ffffff;
	margin: 0 auto;
	max-width: 650px;
	width: 100%;
}
.header,
.colophon {
	background: #2c3e50;
	color: #ffffff;
	width: 100%;
}
.header a,
.colophon a {
	color: #9b59b6;
}
.header a:hover,
.colophon a:hover {
	color: #ecf0f1;
}
.site-title,
.site-title a,
.site-title a:hover {
	color: #9b59b6;
	font-size: 28px;
	line-height: 30px;
	margin: 0px 0 5px 5px;
	padding: 13px 0;
	text-shadow: 0 1px 1px rgba(255,255,255,.2);
	text-decoration: none;
}
.uc {
	float: right;
	margin: 20px 5px 0 0;
}
.content {
	margin: 0 auto;
	padding: 20px;
	width: 100%;
}
.login-form {
	margin: 0 auto;
	max-width: 300px;
}
.login-title {
	text-align: center;
}
label {
	color: #666;
}
label {
	width: 100%;
}
input[type="text"],
input[type="password"] {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	height: 20px;
	margin-bottom: 20px;
	padding: 4px 6px;
	width: 100%;
	vertical-align: middle;
	-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
			border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn {
	float: right;
	padding: 4px 12px;
}
.alert {
	padding: 8px 35px 8px 14px;
	margin-bottom: 20px;
	color: #c09853;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
			border-radius: 4px;
}
.alert-error {
	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
}
.credit {
	float: right;
	margin-right: 10px;
}