{% extends "base.html" %}

{% block body %}
	<form class="login-form" action="/login" method="post">
	    <h1 class="login-title">Tornado self.Auth</h1>
	    {% if errormessage %}
	    <div class="alert alert-error">{{errormessage}}</div>
	    <div class="clearfix"></div>
	    {% end %}
	    <label for="username">Username:</label> 
	    <input type="text" id="username" name="username" />
	    <label for="password">Password:</label>
	    <input type="password" id="password" name="password" />

	    <input type="submit" class="btn" id="complete-login" value="Sign In" />
	    {% module xsrf_form_html() %}

	</form>
	<div class="clearfix"></div>
{% end %}
